.frameChild,
.frameItem {
  position: relative;
  display: none;
}
.frameChild {
  width: 557px;
  height: 337px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}
.frameItem {
  height: 90px;
  width: 90px;
  border-radius: var(--br-101xl);
  border: 1px solid var(--color-aqua);
  box-sizing: border-box;
}
.imageRemovebgPreview71 {
  height: 62px;
  width: 74px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.dashboardsImage,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleGroup {
  height: 90px;
  width: 90px;
  border-radius: var(--br-101xl);
  border: 1px solid var(--color-aqua);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xs);
  z-index: 1;
}
.dashboardsImage {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.dashboard {
  margin: 0;
  width: 156px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.dashboardHeadings {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.theStablesailDashboard {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--font-abeezee);
  color: var(--color-lightgray);
  white-space: pre-wrap;
  z-index: 1;
}
.dashboardGuide,
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboardGuide {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  padding: var(--padding-11xl) var(--padding-lgi) var(--padding-38xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  min-width: 362px;
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro);
}
@media screen and (max-width: 1050px) {
  .dashboard {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangleParent {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .dashboard {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .rectangleParent {
    min-width: 100%;
  }
}
